.footer {
    margin-top: 92px;
}

.footer__copyright {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-top: 88px;
    }
}

@media screen and (max-width: 544px) {
    .footer {
        margin-top: 64px;
    }
}