.footer {
    background-color: #0A2850;
    position: relative;
    overflow: hidden;
    padding: 60px 80px;
    color: white;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 105px;
    height: 39px;
    position: relative;
    z-index: 1;
}

.footer__circle {
    width: 340px;
    height: 340px;
    border-radius: 100%;
    background-color: #2F80ED;
    position: absolute;
    top: -128px;
    left: -44px;
}

.footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__social-heading {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.footer__list-item {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
}

.footer__social-link {
    text-decoration: none;
    color: inherit;
}

.footer__social-link:hover {
    color: #c1c1c1;
}

.footer__copyright {
    margin: 0;
    margin-top: 108px;
}