.header {
    display: flex;
}

.header__logo {
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        height: 66px;
    }
}

@media screen and (max-width: 544px) {
    .header__logo {
        width: 188px;
        height: 52px;
    }
}