.intro {
    width: 830px;
    margin-top: 92px;
    margin-right: 154px;
}

.intro__title {
    font-size: 54px;
    font-weight: 900;
}

.intro__text {
    font-size: 24px;
    line-height: 1.4;
}

.intro__text-quote {
    width: 738px;
    margin-top: 40px;
}

.intro__text-author {
    width: 732px;
    text-align: right;
    margin-top: 10px;
}

.intro__text-description {
    width: 722px;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 32px;
}