.intro {
    margin-top: 92px;
    padding-right: 154px;
    margin-left: 148px;
    margin-right: 148px;
    max-width: 1280px;
}

.intro__title {
    font-size: 54px;
    font-weight: 900;
}

.intro__text {
    font-size: 24px;
    line-height: 1.4;
    margin: 0;
}

.intro__text-quote {
    margin-top: 40px;
}

.intro__text-author {
    text-align: right;
    margin-top: 10px;
}

.intro__text-description {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 32px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-top: 90px;
        margin-right: 24px;
        margin-left: 24px;
        padding-right: 0;
    }

    .intro__title {
        font-size: 45px;
    }

    .intro__text-quote {
        margin-top: 50px;
    }

    .intro__text-author {
        margin-top: 0;
    }
}

@media screen and (max-width: 544px) {
    .intro {
        margin-top: 64px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .intro__title {
        font-size: 32px;
    }

    .intro__text-quote {
        margin-top: 40px;
    }

    .intro__text-author {
        margin-top: 10px;
    }
}