.lead {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title {
    font-size: 96px;
    font-weight: 900;
    width: 720px;
    margin: 0;
    margin-top: 90px;
}

.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    width: 720px;
    margin: 0;
    margin-top: 32px;
}

.lead__image-container {
    height: 615px;
    margin-top: 64px;
    position: relative;
}

.lead__image-shadow {
    width: 100%;
    height: 100%;
    background-color: black;
    mix-blend-mode: hue;
    position: absolute;
}