.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 30px ;
}

.nav__logo {
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    column-gap: 20px;
    margin: 0;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.nav__link:hover {
    color: #2F80ED;
}