body {
    margin: 0;
}

.page {
    min-width: 1024px;
    background-color: #2A2C2F;
    color: white;
    font-family: "Inter", "Aria", sans-serif;
    font-size: 16px;
    line-height: 1.1;
    padding-top: 34px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .page {
        padding-top: 30px;    
    }
}

@media screen and (max-width: 544px) {
    .page {
        padding-top: 20px;    
    }
}