body {
    margin: 0;
}

.page {
    background-color: #2A2C2F;
    color: white;
    font-family: "Inter", "Aria", sans-serif;
    font-size: 16px;
    line-height: 1.1;
    padding-top: 34px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}