.places {
    margin-top: 92px;
    margin-left: 148px;
    margin-right: 148px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1024px){
    .places {
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 544px){
    .places {
        margin-top: 62px;
        margin-left: 16px;
        margin-right: 16px;
        gap: 50px;
    }
}