.recipes {
    background-color:  #0a2750;
    background-image: url("/images/background_recipes.svg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.recipes__title {
    max-width: 580px;
    margin: 100px 0 0 80px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__subtitle {
    max-width: 438px;
    margin: 24px 0 0 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 215px;
}

.recipes__iframe {
    border: none;
    width: 480px;
    height: 273px;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.recipes__video-caption p {
    margin: 0;
}