.reservation {
    background-color: #D9E7FF;
    background-image: url("/images/background_reservation.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 100px;
}

.reservation__title {
    margin: 0 auto;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    max-width: 385px;
    margin-bottom: 120px;
}

.reservation__fieldset {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: none;
}

.reservation__form-label {
    font-weight: 500;
}

.reservation__form-input {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.reservation__form-button {
    border-radius: 4px;
    height: 60px;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 500;
    background-color: #2f80ed;
    color: white;
    border-width: 1px;
    font-size: 16px;
}

.reservation__form-button:hover {
    opacity: .7;
}

.reservation__form-checkbox {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.reservation__form-checkbox-input {
    width: 20px;
    height: 20px;
    background-color: #2F80ED;
    background-image: url("/images/check.svg");
    margin: 0;
}