body {
    margin: 0;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    background-image: url("/images/background_header.svg");
    background-size: cover;
    background-position: center;
    min-height: 720px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 30px ;
}

.nav__logo {
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    column-gap: 20px;
    margin: 0;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.header__span-accent {
    display: block;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 58px;
    line-height: 72px;
    color: #2F80ED;
}

.header__title {
    max-width: 709px;
    margin-top: 183px;
    margin-bottom: 0;
    margin-left: 80px ;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
}

.header__description {
    max-width: 683px;
    margin-top: 28px;
    margin-left: 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    top: 124px;
    right: 5px;
}

.header__footer {
    margin-top: auto;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__paragraph {
    margin: 0;
    font-weight: 500;
    color: #838383;
}

.recipes {
    background-color:  #0a2750;
    background-image: url("/images/background_recipes.svg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.recipes__title {
    max-width: 580px;
    margin: 100px 0 0 80px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__subtitle {
    max-width: 438px;
    margin: 24px 0 0 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 215px;
}

.recipes__iframe {
    border: none;
    width: 480px;
    height: 273px;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.recipes__video-caption p {
    margin: 0;
}

.reservation {
    background-color: #D9E7FF;
    background-image: url("/images/background_reservation.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 80px;
    padding-top: 100px;
}

.reservation__title {
    margin: 0 auto;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    max-width: 385px;
    margin-bottom: 120px;
}

.form__form {
    display: flex;
    flex-direction: column;
}

.reservation__fieldset {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: none;
}

.reservation__form-label {
    font-weight: 500;
}

.reservation__form-input {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.reservation__form-button {
    border-radius: 4px;
    height: 60px;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 500;
    background-color: #2f80ed;
    color: white;
}

.reservation__form-button:hover {
    opacity: .7;
}

.reservation__form-checkbox {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.reservation__form-checkbox-input {
    width: 20px;
    height: 20px;
    background-color: #2F80ED;
    background-image: url("/images/check.svg");
    margin: 0;
}